/**
/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*
* {
    font-family: 'Poppins', sans-serif;
}*/

.CircularPogressBar_All_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: #7d2ae8;
}

.container {
    display: flex;
    width: 250px; /*250*/
    padding: 50px 0; 
    border-radius: 8px;
    background: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    margin: 0 10px; /* 調整間距 */
}

.circular-progress {
    position: relative;
    height: 150px; /*150*/
    width: 200px; /*200*/
    border-radius: 50%;
    background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #fff;
    
}

.progress-value {
    position: relative;
    font-size: 25px;
    font-weight: 600;
    color: #7d2ae8;
}

.text {
    font-size: 25px;
    font-weight: 500;
    color: #606060;
}
