/**
/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*
* {
    font-family: 'Poppins', sans-serif;
}*/

.CircularPogressBar_All_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    /*background-color: #7d2ae8;*/
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    width: 300px;
    padding: 10px 0;
    border-radius: 8px;
    
    row-gap: 15px;
    flex-direction: column;
    align-items: center;
    margin: 0 5px; /* 調整間距 */
    background-color: #d8e4d3;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

.circular-progress { /*進度條本身*/
    position: relative;
    height: 155px;
    width: 155px;
    border-radius: 50%;
    background: conic-gradient(#7E96A5 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.circular-progress::before { /*進度條裡面的圓形形狀*/
    content: "";
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: #FFF1E8;
    
}

.progress-value {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #606060;
}

.text {
    font-size: 20px;
    font-weight: 500;
    color: #606060;
}
