/**
/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

.CircularPogressBar_AllContainer {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #7d2ae8;

}

.container {
    display: flex;
    width: 300px;
    padding: 20px 0;
    border-radius: 8px;
    background: #fff;
    row-gap: 15px;
    flex-direction: column;
    align-items: center;
    margin: 0 10px; /* 調整間距 */
    background-color: aqua;
}

.circular-progress { /*進度條本身*/
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    /*background: conic-gradient(#d9b444 3.6deg, #ededed 0deg);*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 145, 0);
    
}

.circular-progress::before { /*進度條裡面的圓形形狀*/
    content: "";
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: #2775da;
    
}

.progress-value {
    position: relative;
    font-size: 25px;
    font-weight: 600;
    color: #7d2ae8;
}

.text {
    font-size: 25px;
    font-weight: 500;
    color: #606060;
}
